# Python virtual env
bus1NewServer/.venv/

# Python cache
**/__pycache__/
*.pyc

# Logs / uploads (optional)
bus1NewServer/uploads/

# PyTorch model files (optional if you don't want to track them)
bus1NewServer/models/*.pt


frontend (1)/.vite/